* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy, sans-serif;
}

html,
body {
    height: 100vh;
    width: 100vw;
}

#grid{
    width: 50vw;
    display: grid;
    align-self: center;
    justify-self: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px; 
    padding: 20px;
    margin: 20px;
    background-color: rgb(17, 112, 229);
}

.item {
    width: 150px;
    height: 150px;
    background-color: rgb(5, 253, 154);
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
}