*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#bb7777;
}

.container{
    width:900px;
    height:450px;

    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    gap:12px;
    background:#80d2b3;
    padding:12px;
}



.green{
    background:#6db24a;
}

.red{
    background:#ff4538;
}

.yellow{
    background:#f8b32c;
}


.left{
    grid-row:1 / 4;
    grid-column:1;
}

.top{
    grid-column:2 / 4;
    grid-row:1;
}

.top-right{
    grid-column:4;
    grid-row:1;
}

.middle-left{
    grid-column:2;
    grid-row:2;
}

.middle-right{
    grid-column:3;
    grid-row:2;
}

.bottom-left{
    grid-column:2;
    grid-row:3;
}

.bottom-right{
    grid-column:3;
    grid-row:3;
}

.right{
    grid-column:4;
    grid-row:2 / 4;
}